<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citesoftware.basker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basker">
        <activity android:name=".categorias.AllActivity"/>
        <activity android:name=".categorias.PostActivity" />
        <activity android:name=".categorias.DribblingActivity" />
        <activity android:name=".categorias.FinishingActivity" />
        <activity android:name=".categorias.ShootingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>